<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have been invited to Referral Reach!</p>
    <p>
      Please join our platform by <a href='http://localhost:3001/auth' target="_blank"> signing up </a>.
    </p>
    <br />
    <p>Regards,</p>
    <p>Referral Reach Team!</p>
  </body>
</html>
